<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 bg-body-secondary p-4 rounded">
      <h3 class="mt-4">Carros Cadastrados:</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Montadora</th>
            <th scope="col">Preço</th>
            <th scope="col">Ano</th>
            <th scope="col" class="text-end">Opções</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">1</th>
            <td>Palio</td>
            <td>Fiat</td>
            <td>300000</td>
            <td>20000</td>
            <td class="text-end">
              <button type="button" class="btn btn-success me-2">Alterar</button>
                
              <button type="button" class="btn btn-danger">Remover</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>