<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 bg-body-secondary">
      <h3>Carros Cadastrados:</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Montadora</th>
            <th scope="col">Preço</th>
            <th scope="col">Ano</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">1</th>
            <td>Palio</td>
            <td>Fiat</td>
            <td>300000</td>
            <td>20000</td>
            <td>mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>