<div class="row">
  <div class="col-md-10 offset-md-1 bg-body-secondary p-4 rounded-top">
    <h3>Cadastro de Carros:</h3>
    <form>

      <div class="row mb-2 ms-2">
        <label for="inputname" class="col-sm-2 col-form-label">Nome:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputname" name="name" [(ngModel)]="car.name">
        </div>
      </div>

      <div class="row mb-2 ms-2">
        <label for="inputmontadora" class="col-sm-2 col-form-label">Montadora:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputmontadora" name="montadora" [(ngModel)]="car.montadora">
        </div>
      </div>

      <div class="row mb-2 ms-2">
        <label for="inputprice" class="col-sm-2 col-form-label">Preço:</label>
        <div class="col-sm-4">
          <input type="email" class="form-control" id="inputprice" name="price" [(ngModel)]="car.price">
        </div>
        <label for="inputyear" class="col-sm-2 col-form-label">Ano:</label>
        <div class="col-sm-4">
          <input type="email" class="form-control" id="inputyear" name="year" [(ngModel)]="car.year">
        </div>
      </div>

      <button type="submit" class="btn btn-primary" (click)="save()" >Salvar</button>
    </form>
  </div>
</div>